# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
npm-debug.log*
yarn.lock

# System files
.DS_Store
.tmp
tmp/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
